body {
	font-family: Microsoft YaHei, Consolas;
	color: #222222;
	background: #ffffff;
}

a {
	color: #1E82CC;
	text-decoration: none;
	font-family: Microsoft YaHei, Consolas;
	font-size: 12px;
}

a:hover {
	text-decoration: underline;
	color: #F89A1E;
	font-size: 12px;
}

a:visited {
	color: #222222;
}

.main-wrapper {
	margin: 5px;
}

.topnav {
	margin-bottom: 5px;
	color: white;
}

.topnav a {
	color: white;
	text-decoration: none;
	font-family: Microsoft Yahei
}

.dsp-menu-items {
	
}

.dsp-menu-items ul li {
	text-indent: 24px;
}

.dsp-menu-items a {
	color: #1E82CC;
	text-decoration: none;
	text-indent: 24px;
	font-size: 14px;
	width: 100%;
	display: block;
	line-height: 26px;
}

.dsp-input {
	font-family: Microsoft YaHei, Consolas;
	font-size: 12px;
	height: 25px;
	color: #222222;
	border: 1px solid #1E82CC;
	text-indent: 5px;
}

.dsp-button {
	min-width: 80px;
	height: 25px;
	background-color: #1E82CC;
	color: white;
	border: none;
}

.dsp-menu-items a:hover {
	background: #1E82CC;
	color: white;
}

/**错误提示信息样式*/
.dsp-error-hint {
	font-size: 12px;
	color: #C85305;
	font-family: Microsoft YaHei, Consolas;
}

.dsp-loginUser-Info-welcome {
	color: white;
	font-family: Microsoft YaHei, Consolas;
	font-size: 12px;
}

.dsp-loginUser-Info {
	color: white;
	cursor: pointer;
	font-family: Microsoft YaHei, Consolas;
	font-size: 12px;
}